@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:ital,wght@0,300;1,400&display=swap');

body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

.passed {
    color: rgb(3, 85, 3);
}

.disapproved {
    color: rgb(216, 0, 0);
}

main .tutorialContent {
    display: flex;
    flex-wrap: wrap;
}