.card {
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    max-width: 300px;
    height: 100%;
    border: 2px solid #5f5f5f;
}

.card .title {
    display: flex;
    justify-content: center;
}

.card .content {
    background: #fff;
    color: #000;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}